* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}
    
html {
        font-size: 62.5%;
}

body {
        width: 100%;
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

   
.encabezado {      
      width: 100%;
      background-color: #262626;
      display: flex;
      flex-wrap: wrap;   
}



.principal {
      display: flex;
      flex-wrap: wrap;
      background-color: #464646;
}

.titulo {
        background-color: #fc3c23;
        color: white;
        font-size: 4rem;
        padding: 20px;
        width: 100%;
        min-width: 150px;
}


.titulo1 {
        background-color: #fc3c23;
        color: white;
        font-size: 4rem;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr ;
}

.titulo2 {
        background-color: #0a3c91;
        color: white;
        font-size: 3rem;
        padding: 20px;
}

.votaciones{
        padding: 20px;
}

.resultados{
        padding: 20px;
}

section{
        font-size: 3rem;
        background-color: #262626;
        width: 50%;
}

.contenido{
        padding: 20px;
}


label {
        font-size: inherit;
        color: white;
}

span {
        color: white;
        font-size: 2rem;
}

.boton {
        background-color: #ba1e68 ;
        color: white;
        border-color : white;
        min-width: max-content;
        min-height: max-content;
        padding: 10px;
}
.pieDePagina {
        width: 100%;
        background-color: #0a3c91;
        display: flex;
        flex-wrap: wrap; 
}

.logo {
        background-color: #262626;
        width: 150px;
        align-content: center;
        
  }



  .footerDiv {
        width: 100%;
        display: flex;
        height: 170px;
  }

  .logoFooter {
        margin-top: 20px;
        width: 20%;
        text-align: center;
  }

  .logoFoo {
        
        height: 150px;
  }

  

  .text {
        width: 50%;
        margin-top: 40px;
        text-align: center;
  }

  .nosotros {
        padding-top: 15px ;
        font-size: 3rem;
        color: white;
        text-align: center;
  };

  .lorem {
        width: 50%;
        color: white;
        font-size: 1.5rem;       
  }

  .icons {
        width: 30%;
        text-align: center;
  }

  .seguinos {
        color: white;
        font-size: 3rem;
        padding-top: 15px;
        padding-bottom: 30px;
  }

  .icon {
        width: 70px;
  };
  
.derechos {
        background-color: #ba1e68;
        
}


.derechosText{
        
        font-size:1.5rem ; 
        background-color: #ba1e68;
        color: white;
}
